boto3==1.4.1
botocore==1.4.61
docutils==0.12
futures==3.0.5
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
pykube==0.13.0
python-dateutil==2.5.3
PyYAML==3.12
requests==2.11.1
s3transfer==0.1.8
six==1.10.0
